body{
  background-color: rgb(0, 59, 63);
  color: white;
  text-align: center;
}
h1{
  color: rgb(0, 189, 142);
  width: 50%;
}
.boton {
  width: 50%;
  height: 30px;
  border-radius: 20px;
  margin: 10px;
  background-color: rgb(0, 189, 142);
  cursor: pointer;
}
p{
  padding: 0;
  font-size: 20px;
  text-align: center;
}